.userPhoto{
    width:150px;
    height:150px;
    margin-left:20px;
}

.pageNumber{
    margin: 4px;
    border: 2px solid white;
}

.btn{
    margin-left:50px;
}


.selectedPage{
    font-weight: bold;
    font-size:35px;

}

textarea{
    margin-top: 15px;
}

/*button{*/
/*    border: 2px solid black;*/
/*    font-size: 18px;*/
/*    border-radius: 6px;*/
/*    cursor: pointer;*/
/*    animation: glowing 1000ms infinite;*/
/*}*/

/*@keyframes glowing {*/
/*    0% { background-color: red; box-shadow: 1px 1px 1px black;}*/
/*    50% { background-color: red; box-shadow: 1px 1px 1px black;}*/
/*    100% { background-color: red; box-shadow: 1px 1px 1px black;}*/
/*}*/

/*button:hover {*/
/*    background-color: black;*/
/*    color: white;*/
/*}*/
/*button:active {*/
/*    background-color: black;*/
/*    box-shadow: 2px 2px 2px 2px black;*/
/*}*/

.nameSt{
    margin-left:55px;

    padding-top: 15px;
}

span{
    cursor: pointer;

}

