.userPhoto{
    width:150px;
    height:150px;
    margin-left: 20px;
}

.selectedPage{
    font-weight: bold;
    font-size:25px;
}

textarea{
    margin-top: 15px;
}

button{
    margin-top:20px;
    margin-left: 35px;
    border: 2px solid black;
    font-size: 25px;
    border-radius: 6px;
    cursor: pointer;
    animation: glowing 1300ms infinite;
}
@keyframes glowing {
    0% { background-color: red; box-shadow: 0 0 5px white; }
    50% { background-color: red; box-shadow: 0 0 15px white; }
    100% { background-color: red; box-shadow: 0 0 5px white; }
}


button:hover {
    background-color: black;
    color: white;
}
button:active {
    background-color: black;
    box-shadow: 3px 3px 3px 3px grey;
}

.nameSt{
    margin-left:15px;
    color: white;
}

.loc{
    padding-top: 15px;
    margin-left: 15px;
    color: white;
}

span{
    font-size:20px;
    padding: 5px;
    cursor: pointer;
    color: white;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.5s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
