.userPhoto{
    width:150px;
    height:150px;
    margin-left:20px;
}

.pageNumber{
    margin: 4px;
    border: 2px solid white;
}

.btn{
    margin-left:50px;
}

.selectedPage{
    font-weight: bold;
    font-size:35px;
    border-color: black;
}

textarea{
    margin-top: 15px;
}


button{
    margin-top:20px;
    margin-left: 35px;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
    animation: glowing 1000ms infinite;
}
@keyframes glowing {
    0% { background-color: red; }
    50% { background-color: red; box-shadow: 1px 1px 1px black}
    100% { background-color: red; }
}


button:hover {
    background-color: black;
    color: white;
}
button:active {
    background-color: black;
    box-shadow: 2px 2px 2px 2px white;
}

.nameSt{
    margin-left:15px;
    color: white;
    padding-top: 15px;
}

.loc{
    padding-top: 15px;
    margin-left: 15px;
    color: white;
}

span{
    cursor: pointer;
    color: white;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    animation: lds-dual-ring 1.5s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
