.header {
  grid-area: h;
  background-color:#191919;

}

.header img{
    height: 11vmin;
}

.loginBlock{
    float:right;
    padding-right: 20px;
}

.loginBlock a{
    text-decoration: none;
    color: white;
}