.nav{
grid-area: n;
background-color: #191919;
    padding: 20px;
}


.item a{
    color: white;
    font-size: 30px;
    padding: 20px;
    text-decoration: none;
    transition-duration: 1s;
    }


.item:hover {
    background-color: #2B2B2B;
    color:white;
    box-shadow: 2px 2px 3px black;
}

.nav .item{
    padding:10px;
}
