.el::-webkit-scrollbar {
    width: 10px;
}

.el::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: powderblue;
    border-radius: 10px;
}

.el::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(90deg, #00c6fb, #005bea);
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: snow;
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(90deg, #00c6fb, #005bea);
}
