.proImg img {
width: 100%;
}

.desBloc {
    padding:10px;
}

.btn {
    margin: 20px;
}

.contact {
    padding-left: 15px;
}

.status {
    padding-bottom:15px;
    color : #d24949;
}
.mainPhoto {
    max-width:200px;
    border-radius: 100%;
    margin-bottom: 30px;
}

.Ph {
    margin-bottom: 30px;

}