.dialogs {
display: grid;
    grid-template-columns: 2fr 10fr;
    padding:10px;
    font-size: 20px;
}

.dialogItems .active {
    padding:5px;
}


.messages {
color:white;

}

.dialogs .message {
padding:8px;
}

.active {
    color:white;
}