.dialogs {
display: grid;
    grid-template-columns: 2fr 10fr;
    padding:10px;
}
.dialogItems {

}
.dialogItems .active {
    padding:5px;

}

.messages {
color:white;

}

.dialogs .message {
padding:5px;
}

.active {
    color:white;
}